
#flex-container{
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    place-items: center; /* justify-content: center; align-items: center; */
    /* flex-direction: column-reverse; */
}


#box-1{
    width: 10rem;
    height: 10rem;
    background-color: blue;
    transition: all 0.5s ease-in-out;
    flex-grow: 2;
}


#box-2{
    width: 10rem;
    height: 10rem;
    background-color: green;
    transition: all 0.5s ease-in-out;
    align-self: flex-start;
}



#box-3{
    width: 10rem;
    height: 10rem;
    background-color: black;
    transition: all 0.5s ease-in-out;
    flex-shrink: 2;
    align-self: flex-end;
}



#box-4{
    width: 10rem;
    height: 10rem;
    background-color: rgb(204, 100, 0);
    transition: all 0.5s ease-in-out;
}

#box-5{
    width: 10rem;
    height: 10rem;
    background-color: rgb(250, 212, 0);
    transition: all 0.5s ease-in-out;
}